<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/main.js"></script>
    <style>
        .input_text_field {
            width: 600px;
        }
    </style>
</head>
<body>
<div id="case-form">
    <form id="myform">
        <h1>УЧЕБНЫЙ СТАТУС</h1>
        <label>1. Укажите населённый пункт, область (край, республику) и страну, где расположена школа, которую Вы окончили или в которой учились последней.</label>
        <br><br>
        <label>1) Населённый пункт <input class="input_text_field" type="text" name="q1_1" value="" required="true"></label>
        <br>
        <label>2) Область (край, республику) <input class="input_text_field" name="q1_2" type="text" value="" required="true"></label>
        <br><br>

        <label>2. В каком учебном заведении Вы сейчас учитесь?</label>
        <br><br>
        <label><input class="radio" type="radio" required="true" name="q2" value="1"/>1) Учусь в техникуме, колледже, училище, профессиональном лицее</label><br>
        <label><input class="radio" type="radio" required="true" name="q2" value="2"/>2) Учусь в высшем учебном заведении</label><br>
        <label><input class="radio radio_with_text" type="radio" required="true" name="q2" value="3"/>3) Другое (напишите, где именно) <input class="input_text_field" name="q2_text" disabled="disabled" type="text" value=""></label>
        <br><br>

        <label>3. Полное название учебного заведения: <input class="input_text_field" type="text" name="q3" value="" required="true"></label>
        <br><br>

        <label>4. Название факультета: <input class="input_text_field" type="text" name="q4" value="" required="true"></label>
        <br><br>

        <label>5. Название специальности, направления подготовки: <input class="input_text_field" type="text" name="q5" value="" required="true"></label>
        <br><br>

        <label>6. Какова Ваша форма обучения?</label>
        <br><br>
        <label><input type="radio" required="true" name="q6" value="1"/>1) Очная</label><br>
        <label><input type="radio" required="true" name="q6" value="2"/>2) Заочная</label><br>
        <label><input type="radio" required="true" name="q6" value="3"/>3) Очно-заочная</label><br>
        <label><input type="radio" required="true" name="q6" value="4"/>4) Другое</label>
        <br><br>

        <label>7. Образование:</label>
        <br><br>
        <label><input type="radio" required="true" name="q7" value="1"/>1) Платное</label><br>
        <label><input type="radio" required="true" name="q7" value="2"/>2) Бесплатное</label><br>
        <label><input type="radio" required="true" name="q7" value="3"/>3) Другое</label>
        <br><br>

        <label>8. Каков уровень получаемого высшего образования? Вопрос для студентов вузов.</label>
        <br><br>
        <label><input type="radio" required="true" name="q8" value="1"/>1) Бакалавриат</label><br>
        <label><input type="radio" required="true" name="q8" value="2"/>2) Специалитет</label><br>
        <label><input type="radio" required="true" name="q8" value="3"/>3) Магистратура</label>
        <br><br>

        <h1>МОТИВЫ ВЫБОРА УЧЕБНОГО ЗАВЕДЕНИЯ, СПЕЦИАЛЬНОСТИ</h1>
        <label>9. Какие из перечисленных причин были для Вас наиболее важными при выборе специальности обучения? Выберите не более двух вариантов ответа.</label>
        <br><br>
        <label><input class="only2checkbox" type="checkbox" required name="q9" value="1"/>1) Выпускникам с этой специальностью не грозит безработица, эта профессия востребована</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q9" value="2"/>2) Выпускникам с этой специальностью не грозит безработица, эта профессия востребована</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q9" value="3"/>3) Личный интерес к этой специальности (области, профессиональной сфере)</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q9" value="4"/>4) Склонности и способности в этой сфере </label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q9" value="5"/>5) Советы или настояния родителей (родственников, знакомых) </label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q9" value="6"/>6) Лёгкость поступления (не было большого конкурса или высокого проходного балла и т.п.)</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q9" value="7"/>7) Это престижная, уважаемая в обществе профессия</label><br>
        <label><input class="only2checkbox_with_text only2checkbox" type="checkbox" required name="q9" value="8"/>8) Другое (напишите, что именно) <input class="input_text_field" name="q9_text" disabled="disabled" type="text" value=""></label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q9" value="9"/>9) Затрудняюсь ответить</label><br>
        <br><br>

        <label>10. Какие из причин были для Вас наиболее важными при выборе этого учебного заведения? Выберите не более двух вариантов ответа.</label>
        <br><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="1"/>1) Только в этом вузе/ссузе я могу получить образование по интересующей меня специальности</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="2"/>2) Получить образование в этом вузе/ссузе считается престижным </label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="3"/>3) Этот вуз даёт качественное образование (сильный преподавательский состав, стажировки, сильные программы и т.п.)</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="4"/>4) Устраивал проходной балл, условия поступления и т.п.</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="5"/>5) Удобное расположение (близко к дому, удобно добираться)</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="6"/>6) Хотел(-а) учиться в городе, где находится этот вуз</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="7"/>7) В этот вуз поступали мои друзья</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="8"/>8) Этот вуз рекомендовали родители, знакомые</label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="9"/>9) Доступная стоимость обучения</label><br>
        <label><input class="only2checkbox_with_text only2checkbox" type="checkbox" required name="q10" value="10"/>10) Другое (напишите, что именно) <input class="input_text_field" name="q10_text" disabled="disabled" type="text" value=""></label><br>
        <label><input class="only2checkbox" type="checkbox" required name="q10" value="11"/>11) Затрудняюсь ответить</label><br>
        <br><br>

        <label>11. Подавали ли Вы документы для поступления в другие учебные заведения или на другие специальности в рамках этого же учреждения? И если да, то во сколько учебных заведений и на сколько специальностей Вы подавали документы? Если Вы подавали документы на несколько специальностей в рамках одного учебного заведения, считайте это разными вариантами. Отметьте один ответ. </label>
        <br><br>
        <label><input type="radio" required="true" name="q11" value="1"/>1) Не подавал(-а) документы в другие учебные заведения и на другие специальности (был только один вариант) ----- переход к вопросу № 13.</label>
        <h4>Всего было: </h4>
        <label><input type="radio" required="true" name="q11" value="2"/>2) Два варианта</label><br>
        <label><input type="radio" required="true" name="q11" value="3"/>3) Три варианта</label><br>
        <label><input type="radio" required="true" name="q11" value="4"/>4) Четыре варианта</label><br>
        <label><input type="radio" required="true" name="q11" value="5"/>5) Пять вариантов</label><br>
        <label><input type="radio" required="true" name="q11" value="6"/>6) Более пяти вариантов</label><br>
        <label><input type="radio" required="true" name="q11" value="7"/>7) Затрудняюсь ответить</label><br>
        <br><br>

        <label>12. Напишите, в какие учебные заведения, на какие специальности и в каких населённых пунктах Вы подавали документы (помимо того учреждения, где Вы учитесь сейчас). Впишите не более пяти учебных заведений.</label>
        <br><br>
        <label>1)<input class="input_text_field" type="text" name="q12_1" value=""></label>
        <br>
        <label>2)<input class="input_text_field" type="text" name="q12_2" value=""></label>
        <br>
        <label>3)<input class="input_text_field" type="text" name="q12_3" value=""></label>
        <br>
        <label>4)<input class="input_text_field" type="text" name="q12_4" value=""></label>
        <br>
        <label>5)<input class="input_text_field" type="text" name="q12_5" value=""></label>
        <br><br>

        <label>13. Был ли вуз, в котором Вы учитесь сейчас, наиболее привлекательным для Вас, или Вы больше хотели поступить в другое учебное заведение? Отметьте один ответ. </label>
        <br><br>
        <label><input type="radio" required="true" name="q13" value="1"/>1) Этот вуз был наиболее привлекательным для меня из нескольких вариантов</label><br>
        <label><input type="radio" required="true" name="q13" value="2"/>2) Этот вуз был одним из нескольких, которые меня одинаково устраивали </label><br>
        <label><input type="radio" required="true" name="q13" value="3"/>3) Я больше хотел(-а) поступить в другое учебное заведение </label><br>
        <label><input type="radio" required="true" name="q13" value="4"/>4) Подавал(-а) документы только в этот вуз</label><br>
        <label><input type="radio" required="true" name="q13" value="5"/>5) Затрудняюсь ответить</label><br>
        <br><br>

        <label>14. Была ли специальность, на которой Вы учитесь сейчас, наиболее привлекательной для Вас, или Вы больше хотели поступить на другую специальность? Отметьте один ответ.</label>
        <br><br>
        <label><input type="radio" required="true" name="q14" value="1"/>1) Эта специальность была наиболее привлекательной для меня из нескольких вариантов </label><br>
        <label><input type="radio" required="true" name="q14" value="2"/>2) Эта специальность – одна из нескольких, которые меня одинаково устраивали </label><br>
        <label><input type="radio" required="true" name="q14" value="3"/>3) Я больше хотел(-а) поступить на другую специальность </label><br>
        <label><input type="radio" required="true" name="q14" value="4"/>4) Подавал(-а) документы только на одну специальность</label><br>
        <label><input type="radio" required="true" name="q14" value="5"/>5) Затрудняюсь ответить</label><br>
        <br><br>

        <label>15. Участвовали ли Вы в каких-либо мероприятиях, помогающих в выборе профессии, помимо тех, что были организованы в школе? Если да, то в каких? Отметьте все подходящие ответы.</label>
        <br><br>
        <label><input type="checkbox" required name="q15" value="1"/>1) Проходил(-а) тестирование онлайн</label><br>
        <label><input type="checkbox" required name="q15" value="2"/>2) Посещал(-а) индивидуальную консультацию специалиста по профориентации</label><br>
        <label><input type="checkbox" required name="q15" value="3"/>3) Участвовал(-а) в профориентационных тренингах, играх</label><br>
        <label><input type="checkbox" required name="q15" value="4"/>4) Посещал(-а) дни открытых дверей в вузах / ссузах </label><br>
        <label><input type="checkbox" required name="q15" value="5"/>5) Посещал(-а) выставки, ярмарки профессий </label><br>
        <label><input type="checkbox" required name="q15" value="6"/>6) Посещал(-а) предприятия, фирмы, офисы разных компаний </label><br>
        <label><input type="checkbox" required name="q15" value="7"/>7) Общался с представителями различных профессий по поводу их работы</label><br>
        <label><input type="checkbox" required name="q15" value="8"/>8) Общался со студентами вузов / ссузов</label><br>
        <label><input type="checkbox" required name="q15" value="9"/>9) Общался с преподавателями вузов / ссузов </label><br>
        <label><input class="checkbox_with_text" type="checkbox" required name="q15" value="10"/>10) Другое (напишите, что именно) <input class="input_text_field" name="q15_text" disabled="disabled" type="text" value=""></label><br>
        <label><input type="checkbox" required name="q15" value="11"/>11) Нет, не обращался(-лась) ни к кому за помощью в вопросах профориентации</label><br>
        <label><input type="checkbox" required name="q15" value="12"/>12) Затрудняюсь ответить</label><br>
        <br><br>

        <h1>ДЛЯ УЧАЩИХСЯ ССУЗОВ</h1>
        <label>16. Планируете ли Вы поступать в вуз после окончания обучения? Отметьте один ответ.</label>
        <br><br>
        <label><input type="radio" required="true" name="q16" value="1"/>1) Да, планирую</label><br>
        <label><input type="radio" required="true" name="q16" value="2"/>2) Нет, не планирую ----- переход к вопросу № 18.</label><br>
        <label><input type="radio" required="true" name="q16" value="3"/>3) Ещё не решил(-а)</label><br>
        <br><br>

        <label>17. Вы уже примерно знаете, в каком вузе и на какой специальности планируете учиться, или ещё не решили? Если определились только с вузом или только со специальностью (направлением подготовки), впишите название в соответствующей графе. Если у Вас есть несколько вариантов, впишите наиболее привлекательный из них. </label>
        <br><br>
        <label><input class="radio radio_with_text" type="radio" required="true" name="q17" value="1"/>1) Да, знаю: </label><br>
        <label>1) Вуз <input class="input_text_field"  disabled="disabled" type="text" name="q17_1" value=""></label><br>
        <label>2) Специальность (направление подготовки) <input class="input_text_field" name="q17_2" disabled="disabled" type="text" value=""></label>
        <br>
        <label><input class="radio" type="radio" required="true" name="q17" value="2"/>2) Ещё не решил(-а)</label><br>

        <h1>УСПЕВАЕМОСТЬ И ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ</h1>
        <label>18. Удовлетворены ли Вы обучением в целом?</label>
        <br><br>
        <label><input type="radio" required="true" name="q18" value="1"/>1) Да, удовлетворен полностью</label><br>
        <label><input type="radio" required="true" name="q18" value="2"/>2) Скорее да, чем нет</label><br>
        <label><input type="radio" required="true" name="q18" value="3"/>3) Скорее нет, чем да</label><br>
        <label><input type="radio" required="true" name="q18" value="4"/>4) Нет, совершенно не удовлетворен</label><br>
        <br><br>

        <label>19. Соответствует ли качество получаемого образования Вашим ожиданиям?</label>
        <br><br>
        <label><input type="radio" required="true" name="q19" value="1"/>1) Да, полностью</label><br>
        <label><input type="radio" required="true" name="q19" value="2"/>2) Скорее соответствует</label><br>
        <label><input type="radio" required="true" name="q19" value="3"/>3) Скорее не соответствует</label><br>
        <label><input type="radio" required="true" name="q19" value="4"/>4) Не соответствует совсем</label><br>
        <label><input type="radio" required="true" name="q19" value="5"/>5) Затрудняюсь ответить</label><br>
        <br><br>

        <label>20. Какие оценки Вы получали за экзамены / зачёты в 2019-2020 учебном году? Отметьте один ответ. </label>
        <br><br>
        <label><input type="radio" required="true" name="q20" value="1"/>1) Только «отлично»</label><br>
        <label><input type="radio" required="true" name="q20" value="2"/>2) Только «отлично» и «хорошо»</label><br>
        <label><input type="radio" required="true" name="q20" value="3"/>3) В основном «отлично» и «хорошо», но были и оценки «удовлетворительно»</label><br>
        <label><input type="radio" required="true" name="q20" value="4"/>4) В основном «хорошо» и «удовлетворительно» </label><br>
        <label><input type="radio" required="true" name="q20" value="5"/>5) Преимущественно «удовлетворительно»</label><br>
        <br><br>

        <label>21. Получаете ли Вы дополнительное образование (курсы, школы для студентов и т.д.)?</label>
        <br><br>
        <label><input type="radio" required="true" name="q21" value="1"/>1) Да</label><br>
        <label><input type="radio" required="true" name="q21" value="2"/>2) Нет</label><br>
        <br><br>

        <label>22. Какое именно? Напишите. <input class="input_text_field" type="text" name="q22" value="" required="true"></label>
        <br><br>

        <label>23. Какими интернет-ресурсами Вы пользуетесь в образовательных целях более или менее регулярно? Отметьте все подходящие ответы. </label>
        <br><br>
        <label><input type="checkbox" required name="q23" value="1"/>1) Массовые открытые онлайн-курсы (Сoursera, Udacity, Stepik и т.п.) </label><br>
        <label><input type="checkbox" required name="q23" value="2"/>2) Видеолекции </label><br>
        <label><input type="checkbox" required name="q23" value="3"/>3) Аудиолекции, подкасты</label><br>
        <label><input type="checkbox" required name="q23" value="4"/>4) Образовательные телепрограммы в интернете (Discovery, BBC и т.п.)</label><br>
        <label><input type="checkbox" required name="q23" value="5"/>5) Мобильные приложения </label><br>
        <label><input type="checkbox" required name="q23" value="6"/>6) Социальные сети </label><br>
        <label><input type="checkbox" required name="q23" value="7"/>7) Тематические форумы </label><br>
        <label><input type="checkbox" required name="q23" value="8"/>8) Электронные библиотеки </label><br>
        <label><input type="checkbox" required name="q23" value="9"/>9) Онлайн-репетиторы </label><br>
        <label><input type="checkbox" required name="q23" value="10"/>10) Онлайн-энциклопедии, справочники (Википедия, словари и т.п.)  </label><br>
        <label><input class="checkbox_with_text" type="checkbox" required name="q23" value="11"/>11) Другое (напишите, что именно) <input class="input_text_field" name="q23_text" disabled="disabled" type="text" value=""></label><br>
        <label><input type="checkbox" required name="q23" value="12"/>12) Никакими не пользуюсь в образовательных целях </label><br>
        <label><input type="checkbox" required name="q23" value="13"/>13) Затрудняюсь ответить</label><br>
        <br><br>

        <h1>УРОВЕНЬ ЖИЗНИ</h1>
        <label>24. Оказывают ли Вам родители, родственники материальную помощь? Отметьте один ответ. </label>
        <br><br>
        <label><input type="radio" required="true" name="q24" value="1"/>1) Да, они оплачивают бо́льшую часть моих расходов </label><br>
        <label><input type="radio" required="true" name="q24" value="2"/>2) Да, они оплачивают примерно половину моих расходов </label><br>
        <label><input type="radio" required="true" name="q24" value="3"/>3) Да, они оплачивают ме́ньшую часть моих расходов </label><br>
        <label><input type="radio" required="true" name="q24" value="4"/>4) Оказывают материальную помощь в некоторых случаях, при необходимости </label><br>
        <label><input type="radio" required="true" name="q24" value="5"/>5) Нет, родители, родственники не оказывают мне материальную помощь </label><br>
        <label><input type="radio" required="true" name="q24" value="6"/>6) Затрудняюсь ответить</label><br>
        <br><br>

        <label>25. Укажите, пожалуйста, хотя бы приблизительно, сколько составляет в среднем Ваш личный доход в месяц (в том числе стипендия, зарплата, социальные выплаты и т.п., не считая деньги, которые дают Вам родители или другие родственники). Если Ваш доход каждый месяц разный, посчитайте среднее значение за последние три месяца. Напишите ответ числом.</label>
        <br><br>
        <label><input class="radio radio_with_text" type="radio" required="true" name="q25" value="1"/>1) Есть доход <input class="input_text_field" name="q25_text" disabled="disabled" type="number" value=""> рублей</label><br>
        <label><input class="radio" type="radio" required="true" name="q25" value="2"/>2) Нет личного дохода</label><br>
        <br><br>

        <label>26. Какое из следующих суждений точнее описывает материальное положение Вашей семьи?</label>
        <br><br>
        <label><input type="radio" required="true" name="q26" value="1"/>1) Денег не хватает даже на питание</label><br>
        <label><input type="radio" required="true" name="q26" value="2"/>2) Денег хватает на питание, но покупка одежды вызывает затруднения</label><br>
        <label><input type="radio" required="true" name="q26" value="3"/>3) Денег хватает на одежду и питание, но покупка бытовой техники, мебели вызывает затруднения</label><br>
        <label><input type="radio" required="true" name="q26" value="4"/>4) Денег хватает на бытовую технику и мебель, но покупка автомобиля вызывает затруднения</label><br>
        <label><input type="radio" required="true" name="q26" value="5"/>5) Денег хватает на все, за исключением покупки квартиры или дома</label><br>
        <label><input type="radio" required="true" name="q26" value="6"/>6) Денег достаточно для покупки квартиры или дома</label><br>
        <br><br>

        <label>27. Назовите, пожалуйста, в течение какого периода времени сохраняется такое материальное положение Вашей семьи?</label>
        <br><br>
        <label><input type="radio" required="true" name="q27" value="1"/>1) Менее полугода</label><br>
        <label><input type="radio" required="true" name="q27" value="2"/>2) От полугода до года</label><br>
        <label><input type="radio" required="true" name="q27" value="3"/>3) От года до двух лет</label><br>
        <label><input type="radio" required="true" name="q27" value="4"/>4) От трех до пяти лет</label><br>
        <label><input type="radio" required="true" name="q27" value="5"/>5) От шести до десяти лет</label><br>
        <label><input type="radio" required="true" name="q27" value="6"/>6) Более десяти лет</label><br>
        <br><br>

        <h1>УРОВЕНЬ ЖИЗНИ</h1>
        <label>28. Каковы Ваши планы после завершения обучения?</label>
        <br><br>
        <label><input type="checkbox" required name="q28" value="1"/>1) Устроюсь на работу по специальности</label><br>
        <label><input type="checkbox" required name="q28" value="2"/>2) Устроюсь на работу, не обязательно по специальности</label><br>
        <label><input type="checkbox" required name="q28" value="3"/>3) Буду работать и параллельно продолжу получение образования</label><br>
        <label><input type="checkbox" required name="q28" value="4"/>4) Открою собственное дело</label><br>
        <label><input type="checkbox" required name="q28" value="5"/>5) Не собираюсь работать после обучения</label><br>
        <label><input type="checkbox" required name="q28" value="6"/>6) Продолжу образование за границей</label><br>
        <label><input type="checkbox" required name="q28" value="7"/>7) Продолжу образование в рамках своей страны</label><br>
        <label><input type="checkbox" required name="q28" value="8"/>8) Посвящу себя дому, семье</label><br>
        <label><input type="checkbox" required name="q28" value="9"/>9) Затрудняюсь ответить </label><br>
        <label><input type="checkbox" required name="q28" value="10"/>10) Другое  </label><br>
        <br><br>

        <label>29. Какие основные цели Вы хотели бы достичь в ближайшие 10-20 лет?</label>
        <br><br>
        <label><input type="radio" required="true" name="q29" value="1"/>1) Профессиональный успех, мастерство</label><br>
        <label><input type="radio" required="true" name="q29" value="2"/>2) Карьерный рост, продвижение по службе</label><br>
        <label><input type="radio" required="true" name="q29" value="3"/>3) Дело по душе, интересная работа</label><br>
        <label><input type="radio" required="true" name="q29" value="4"/>4) Материальное обеспечение, высокий заработок</label><br>
        <label><input type="radio" required="true" name="q29" value="5"/>5) Создание семьи и воспитание детей</label><br>
        <label><input type="radio" required="true" name="q29" value="6"/>6) Образование, успехи в науке</label><br>
        <label><input type="radio" required="true" name="q29" value="7"/>7) Статус, положение в обществе</label><br>
        <label><input type="radio" required="true" name="q29" value="8"/>8) Признание окружающих, слава</label><br>
        <label><input type="radio" required="true" name="q29" value="9"/>9) Власть, возможность руководить людьми</label><br>
        <label><input type="radio" required="true" name="q29" value="10"/>10) Самостоятельность, свобода</label><br>
        <label><input type="radio" required="true" name="q29" value="11"/>11) Связи, деловые знакомства</label><br>
        <label><input type="radio" required="true" name="q29" value="12"/>12) Собственный бизнес, дело</label><br>
        <label><input type="radio" required="true" name="q29" value="13"/>13) Хорошие, верные друзья</label><br>
        <label><input type="radio" required="true" name="q29" value="14"/>14) Возможность путешествовать по миру</label><br>
        <label><input type="radio" required="true" name="q29" value="15"/>15) Уехать за границу жить и работать</label><br>
        <label><input type="radio" required="true" name="q29" value="16"/>16) Не строю планов на будущее, живу одним днем</label><br>
        <label><input type="radio" required="true" name="q29" value="17"/>17) Затрудняюсь ответить</label><br>
        <label><input type="radio" required="true" name="q29" value="18"/>18) Другое</label><br>
        <br><br>

        <label>30. Как Вы думаете, сможете ли Вы достичь поставленных целей?</label>
        <br><br>
        <label><input type="radio" required="true" name="q30" value="1"/>1) Да, конечно</label><br>
        <label><input type="radio" required="true" name="q30" value="2"/>2) Скорее да, чем нет</label><br>
        <label><input type="radio" required="true" name="q30" value="3"/>3) Скорее нет, чем да</label><br>
        <label><input type="radio" required="true" name="q30" value="4"/>4) Нет</label><br>
        <label><input type="radio" required="true" name="q30" value="5"/>5) Затрудняюсь ответить</label><br>
        <br><br>

        <label>31. Как Вы считаете, что поможет Вам достичь успехов в жизни?</label>
        <br><br>
        <label><input type="checkbox" required name="q31" value="1"/>1) Получение хорошего образования</label><br>
        <label><input type="checkbox" required name="q31" value="2"/>2) Установление связей, деловых знакомств</label><br>
        <label><input type="checkbox" required name="q31" value="3"/>3) Помощь близких и родных людей</label><br>
        <label><input type="checkbox" required name="q31" value="4"/>4) Личные качества (целеустремленность, старательность, находчивость и т.д.)</label><br>
        <label><input type="checkbox" required name="q31" value="5"/>5) Терпение и труд</label><br>
        <label><input type="checkbox" required name="q31" value="6"/>6) Поддержка государства</label><br>
        <label><input type="checkbox" required name="q31" value="7"/>7) Создание собственного бизнеса</label><br>
        <label><input type="checkbox" required name="q31" value="8"/>8) Перемена места жительства, переезд в другой город, страну</label><br>
        <label><input type="checkbox" required name="q31" value="9"/>9) Затрудняюсь ответить</label><br>
        <label><input type="checkbox" required name="q31" value="10"/>10) Другое</label><br>
        <br><br>

        <label>32. Как Вы считаете, что сегодня необходимо для успешной реализации своих целей?</label>
        <br><br>
        <label><input type="checkbox" required name="q32" value="1"/>1) Семья</label><br>
        <label><input type="checkbox" required name="q32" value="2"/>2) Высокое материальное благосостояние</label><br>
        <label><input type="checkbox" required name="q32" value="3"/>3) Уважение со стороны людей</label><br>
        <label><input type="checkbox" required name="q32" value="4"/>4) Власть</label><br>
        <label><input type="checkbox" required name="q32" value="5"/>5) Знание, образование</label><br>
        <label><input type="checkbox" required name="q32" value="6"/>6) Общение, связи</label><br>
        <label><input type="checkbox" required name="q32" value="7"/>7) Творчество</label><br>
        <label><input type="checkbox" required name="q32" value="8"/>8) Здоровье</label><br>
        <label><input type="checkbox" required name="q32" value="9"/>9) Затрудняюсь ответить</label><br>
        <label><input type="checkbox" required name="q32" value="10"/>10) Другое</label><br>
        <br><br>

        <label>33. Кто оказал наибольшее влияние на формирование Ваших планов на будущее?</label>
        <br><br>
        <label><input type="checkbox" required name="q33" value="1"/>1) Родители, родственники</label><br>
        <label><input type="checkbox" required name="q33" value="2"/>2) Учителя / преподаватели</label><br>
        <label><input type="checkbox" required name="q33" value="3"/>3) Друзья</label><br>
        <label><input type="checkbox" required name="q33" value="4"/>4) Знакомые</label><br>
        <label><input type="checkbox" required name="q33" value="5"/>5) СМИ (телевидение, интернет и др.).</label><br>
        <label><input type="checkbox" required name="q33" value="6"/>6) С планами на будущее определялся самостоятельно</label><br>
        <label><input type="checkbox" required name="q33" value="7"/>7) Затрудняюсь ответить</label><br>
        <br><br>

        <h1>ТРУДОУСТРОЙСТВО И КАРЬЕРНЫЕ ОЖИДАНИЯ</h1>
        <label>34. Учитывали ли Вы перспективы дальнейшего трудоустройства при поступлении в вуз?</label>
        <br><br>
        <label><input type="radio" required="true" name="q34" value="1"/>1) Да, я надеялся устроиться по специальности</label><br>
        <label><input type="radio" required="true" name="q34" value="2"/>2) Нет, для меня главное получить высшее образование</label><br>
        <label><input type="radio" required="true" name="q34" value="3"/>3) Нет, сейчас жалею об этом</label><br>
        <label><input type="radio" required="true" name="q34" value="4"/>4) Затрудняюсь ответить</label><br>
        <label><input type="radio" required="true" name="q34" value="5"/>5) Другое</label><br>
        <br><br>

        <label>35. Как Вы считаете, наличие второго высшего / магистерского образования может помочь в трудоустройстве?</label>
        <br><br>
        <label><input type="radio" required="true" name="q35" value="1"/>1) Да</label><br>
        <label><input type="radio" required="true" name="q35" value="2"/>2) Скорее да, чем нет</label><br>
        <label><input type="radio" required="true" name="q35" value="3"/>3) Скорее нет, чем да</label><br>
        <label><input type="radio" required="true" name="q35" value="4"/>4) Нет</label><br>
        <label><input type="radio" required="true" name="q35" value="5"/>5) Затрудняюсь ответить</label><br>
        <br><br>

        <label>36. На что Вы обращаете внимание либо обратите внимание при выборе работы?</label>
        <br><br>
        <label><input type="checkbox" required name="q36" value="1"/>1) Заработная плата</label><br>
        <label><input type="checkbox" required name="q36" value="2"/>2) Близость к дому</label><br>
        <label><input type="checkbox" required name="q36" value="3"/>3) Обустройство рабочего места</label><br>
        <label><input type="checkbox" required name="q36" value="4"/>4) Наличие столовой, кухни, обеденного места</label><br>
        <label><input type="checkbox" required name="q36" value="5"/>5) Возможность расти и развиваться в карьере</label><br>
        <label><input type="checkbox" required name="q36" value="6"/>6) Интересная работа</label><br>
        <label><input type="checkbox" required name="q36" value="7"/>7) График</label><br>
        <label><input type="checkbox" required name="q36" value="8"/>8) Доброжелательный коллектив</label><br>
        <label><input type="checkbox" required name="q36" value="9"/>9) Приятное руководство</label><br>
        <label><input type="checkbox" required name="q36" value="10"/>10) Другое</label><br>
        <br><br>

        <label>37. Ваши основные требования к работодателю?</label>
        <br><br>
        <label><input type="checkbox" required name="q37" value="1"/>1) Своевременная выплата заработной платы</label><br>
        <label><input type="checkbox" required name="q37" value="2"/>2) Полный социальный пакет (оплата отпускных, больничных и т.д.)</label><br>
        <label><input type="checkbox" required name="q37" value="3"/>3) Обучение за счет организации, получение дополнительных курсов</label><br>
        <label><input type="checkbox" required name="q37" value="4"/>4) Возможность путешествовать, переезда, командировочные поездки</label><br>
        <label><input type="checkbox" required name="q37" value="5"/>5) Комфортабельность рабочего места</label><br>
        <label><input type="checkbox" required name="q37" value="6"/>6) Хорошие отношения в коллективе, с руководством</label><br>
        <label><input type="checkbox" required name="q37" value="7"/>7) Возможность расти по карьерной лестнице</label><br>
        <label><input type="checkbox" required name="q37" value="8"/>8) Возможность ездить в санатории, профилактории по льготам</label><br>
        <label><input type="checkbox" required name="q37" value="9"/>9) Обеспечение транспорта</label><br>
        <label><input type="checkbox" required name="q37" value="10"/>10) Другое</label><br>
        <br><br>

        <label>38. Имеете ли Вы опыт работы? Подрабатываете ли Вы?</label>
        <br><br>
        <label><input type="radio" required="true" name="q38" value="1"/>1) Да, я работаю по специальности</label><br>
        <label><input type="radio" required="true" name="q38" value="2"/>2) Да, я работаю не по специальности</label><br>
        <label><input type="radio" required="true" name="q38" value="3"/>3) Я подрабатывал(а) раньше по специальности</label><br>
        <label><input type="radio" required="true" name="q38" value="4"/>4) Я подрабатывал(а) раньше не по специальности</label><br>
        <label><input type="radio" required="true" name="q38" value="5"/>5) Нет, я никогда не работал(а)</label><br>
        <label><input type="radio" required="true" name="q38" value="6"/>6) На данный момент нахожусь в поисках работы</label><br>
        <label><input type="radio" required="true" name="q38" value="7"/>7) Если Вы работаете, то на полную или неполную ставку? Или Вы работаете на нерегулярной основе? Отметьте один ответ.</label><br>
        <label><input type="radio" required="true" name="q38" value="8"/>8) Не работаю ----- переход к вопросу №44</label><br>
        <label><input type="radio" required="true" name="q38" value="9"/>9) Работаю полный рабочий день</label><br>
        <label><input type="radio" required="true" name="q38" value="10"/>10) Работаю неполный рабочий день</label><br>
        <label><input type="radio" required="true" name="q38" value="11"/>11) Работаю на нерегулярной основе</label><br>
        <label><input type="radio" required="true" name="q38" value="12"/>12) Затрудняюсь ответить</label><br>
        <br><br>

        <label>39. Если Вы работаете, то на полную или неполную ставку? Или Вы работаете на нерегулярной основе? Отметьте один ответ.</label>
        <br><br>
        <label><input type="radio" required="true" name="q39" value="1"/>1) Не работаю ----- переход к вопросу №44</label><br>
        <label><input type="radio" required="true" name="q39" value="2"/>2) Работаю полный рабочий день</label><br>
        <label><input type="radio" required="true" name="q39" value="3"/>3) Работаю неполный рабочий день</label><br>
        <label><input type="radio" required="true" name="q39" value="4"/>4) Работаю на нерегулярной основе</label><br>
        <label><input type="radio" required="true" name="q39" value="5"/>5) Затрудняюсь ответить</label><br>
        <br><br>

        <label>40. Кем Вы работаете? Напишите название должности. <input class="input_text_field" type="text" name="q40" value="" required="true"></label>
        <br><br>

        <label>41. К какой отрасли относится организация, в которой Вы работаете? Отметьте один ответ.</label>
        <br><br>
        <label><input type="radio" required="true" name="q41" value="1"/>1) Лёгкая, пищевая промышленность</label><br>
        <label><input type="radio" required="true" name="q41" value="2"/>2) Гражданское машиностроение</label><br>
        <label><input type="radio" required="true" name="q41" value="3"/>3) Военно-промышленный комплекс</label><br>
        <label><input type="radio" required="true" name="q41" value="4"/>4) Нефтегазовая промышленность</label><br>
        <label><input type="radio" required="true" name="q41" value="5"/>5) Другая отрасль тяжёлой промышленности</label><br>
        <label><input type="radio" required="true" name="q41" value="6"/>6) Химическое производство, удобрения</label><br>
        <label><input type="radio" required="true" name="q41" value="7"/>7) Строительство, архитектура, недвижимость</label><br>
        <label><input type="radio" required="true" name="q41" value="8"/>8) Транспорт, связь</label><br>
        <label><input type="radio" required="true" name="q41" value="9"/>9) Сельское хозяйство</label><br>
        <label><input type="radio" required="true" name="q41" value="10"/>10) Органы управления</label><br>
        <label><input type="radio" required="true" name="q41" value="11"/>11) Образование</label><br>
        <label><input type="radio" required="true" name="q41" value="12"/>12) Общественная деятельность, партии, благотворительность</label><br>
        <label><input type="radio" required="true" name="q41" value="13"/>13) Наука, культура</label><br>
        <label><input type="radio" required="true" name="q41" value="14"/>14) Здравоохранение, фармацевтика</label><br>
        <label><input type="radio" required="true" name="q41" value="15"/>15) Армия, мвд, органы безопасности</label><br>
        <label><input type="radio" required="true" name="q41" value="16"/>16) Страхование</label><br>
        <label><input type="radio" required="true" name="q41" value="17"/>17) Дизайн, мультимедиа, полиграфия</label><br>
        <label><input type="radio" required="true" name="q41" value="18"/>18) Информационные технологии</label><br>
        <label><input type="radio" required="true" name="q41" value="19"/>19) Торговля, бытовое обслуживание</label><br>
        <label><input type="radio" required="true" name="q41" value="20"/>20) Финансы, банки, кредиты, инвестиции, лизинг</label><br>
        <label><input type="radio" required="true" name="q41" value="21"/>21) Энергетическая промышленность</label><br>
        <label><input type="radio" required="true" name="q41" value="22"/>22) Жилищно-коммунальное хозяйство</label><br>
        <label><input type="radio" required="true" name="q41" value="23"/>23) Шоу-бизнес, развлечения</label><br>
        <label><input type="radio" required="true" name="q41" value="24"/>24) Юриспруденция</label><br>
        <label><input type="radio" required="true" name="q41" value="25"/>25) Другое</label><br>
        <label><input type="radio" required="true" name="q41" value="26"/>26) Затрудняюсь ответить</label><br>
        <br><br>

        <label>42. Связана ли эта работа с той специальностью, которую вы сейчас получаете?</label>
        <br><br>
        <label><input type="radio" required="true" name="q42" value="1"/>1) Да</label><br>
        <label><input type="radio" required="true" name="q42" value="2"/>2) Нет</label><br>
        <br><br>

        <label>43. Если вы сейчас работаете, то планируете ли вы в дальнейшем остаться на этой работе?</label>
        <br><br>
        <label><input type="radio" required="true" name="q43" value="1"/>1) Я уже не работаю на ней</label><br>
        <label><input type="radio" required="true" name="q43" value="2"/>2) Это (была) только временная работа</label><br>
        <label><input type="radio" required="true" name="q43" value="3"/>3) Это моя будущая постоянная работа</label><br>
        <label><input type="radio" required="true" name="q43" value="4"/>4) Ещё не решил(а)</label><br>
        <br><br>

        <label>44. Что в большей мере подталкивает Вас к поиску работы?</label>
        <br><br>
        <label><input type="checkbox" required name="q44" value="1"/>1) Желание иметь свои собственные деньги</label><br>
        <label><input type="checkbox" required name="q44" value="2"/>2) Необходимость обеспечивать себе средства для существования</label><br>
        <label><input type="checkbox" required name="q44" value="3"/>3) Работа позволяет устанавливать контакты и налаживать связи, которые могут пригодиться в будущем</label><br>
        <label><input type="checkbox" required name="q44" value="4"/>4) Необходимость материальной поддержки родителей, семьи</label><br>
        <label><input type="checkbox" required name="q44" value="5"/>5) Стремление к самореализации</label><br>
        <label><input type="checkbox" required name="q44" value="6"/>6) Необходимость платить за жилье</label><br>
        <label><input type="checkbox" required name="q44" value="7"/>7) Другое</label><br>
        <br><br>

        <label>45. Как Вы оцениваете свои перспективы на рынке труда?</label>
        <br><br>
        <label><input type="radio" required="true" name="q45" value="1"/>1) Смотрю в будущее с оптимизмом</label><br>
        <label><input type="radio" required="true" name="q45" value="2"/>2) Испытываю неуверенность, рассматриваю свои шансы на трудоустройство не очень высоко</label><br>
        <label><input type="radio" required="true" name="q45" value="3"/>3) Затрудняюсь ответить</label><br>
        <br><br>

        <label>46. Определились ли Вы с местом работы в первый год после выпуска?</label>
        <br><br>
        <label><input type="radio" required="true" name="q46" value="1"/>1) Да, продолжу работать на том же месте, где сейчас работаю</label><br>
        <label><input type="radio" required="true" name="q46" value="2"/>2) Да, знаю место дальнейшего трудоустройства, хотя на данный момент там не работаю</label><br>
        <label><input type="radio" required="true" name="q46" value="3"/>3) Да, займусь фрилансом или открою собственный бизнес</label><br>
        <label><input type="radio" required="true" name="q46" value="4"/>4) Нет, ещё не определился с местом работы</label><br>
        <label><input type="radio" required="true" name="q46" value="5"/>5) Нет, не собираюсь ни работать, ни учиться</label><br>
        <label><input type="radio" required="true" name="q46" value="6"/>6) Другое</label><br>
        <br><br>

        <label>47. Планируете ли Вы работать по своей специальности?</label>
        <br><br>
        <label><input type="radio" required="true" name="q47" value="1"/>1) Да ----- переход к вопросу №49</label><br>
        <label><input type="radio" required="true" name="q47" value="2"/>2) Нет</label><br>
        <label><input type="radio" required="true" name="q47" value="3"/>3) Затрудняюсь ответить</label><br>
        <br><br>

        <label>48. Если Вы не будете работать по полученной в вузе специальности, с чем это может быть связано?</label>
        <br><br>
        <label><input type="checkbox" required name="q48" value="1"/>1) Низкий уровень зарплат специалистов данной профессии</label><br>
        <label><input type="checkbox" required name="q48" value="2"/>2) Не интересное содержание работы</label><br>
        <label><input type="checkbox" required name="q48" value="3"/>3) Работа по специальности мешает семье, личной жизни</label><br>
        <label><input type="checkbox" required name="q48" value="4"/>4) Не востребованность специалистов моего профиля</label><br>
        <label><input type="checkbox" required name="q48" value="5"/>5) Никогда не хотел работать по специальности</label><br>
        <label><input class="radio radio_with_text" type="checkbox" required name="q48" value="6"/>6) Другое (напишите, что именно) <input class="input_text_field" name="q48_text" disabled="disabled" type="text" value=""></label><br>
        <label><input type="checkbox" required name="q48" value="7"/>7) Затрудняюсь ответить</label><br>
        <br><br>

        <label>49. Какие стратегии поиска работы вы намерены применять?</label>
        <br><br>
        <label><input type="checkbox" required name="q49" value="1"/>1) С помощью родственников, друзей, знакомых</label><br>
        <label><input type="checkbox" required name="q49" value="2"/>2) Поиск работы через СМИ (газеты, радио, телевидение)</label><br>
        <label><input type="checkbox" required name="q49" value="3"/>3) Прямое обращение к потенциальному работодателю</label><br>
        <label><input type="checkbox" required name="q49" value="4"/>4) Через специальные сайты</label><br>
        <label><input type="checkbox" required name="q49" value="5"/>5) Через социальные сети</label><br>
        <label><input type="checkbox" required name="q49" value="6"/>6) Через кадровые службы</label><br>
        <label><input type="checkbox" required name="q49" value="7"/>7) Через центры занятости и проводимые ими ярмарки вакансий</label><br>
        <label><input type="checkbox" required name="q49" value="8"/>8) По результатам производственной практики в ВУЗе</label><br>
        <label><input type="checkbox" required name="q49" value="9"/>9) Через вузовский Центр оказания помощи в трудоустройстве</label><br>
        <label><input type="checkbox" required name="q49" value="10"/>10) Затрудняюсь ответить</label><br>
        <label><input type="checkbox" required name="q49" value="11"/>11) Другое</label><br>
        <br><br>

        <label>50. Какое утверждение соответствует Вашему мнению?</label>
        <br><br>
        <label><input type="radio" required="true" name="q50" value="1"/>1) Готов вложить в труд все свои способности и умения, независимо от оплаты и содержания работы</label><br>
        <label><input type="radio" required="true" name="q50" value="2"/>2) Готов вложить в труд все свои способности и знания, независимо от оплаты, только если эта работа мне интересна</label><br>
        <label><input type="radio" required="true" name="q50" value="3"/>3) Готов вложить в труд все свои способности и умения, если это приносит пользу обществу</label><br>
        <label><input type="radio" required="true" name="q50" value="4"/>4) Нахожу труд интересным, но не даю ему мешать остальным делам</label><br>
        <label><input type="radio" required="true" name="q50" value="5"/>5) Труд – это дело, чем больше платят, тем больше делаю</label><br>
        <label><input type="radio" required="true" name="q50" value="6"/>6) Труд – неприятная обязанность, если мог бы, не работал</label><br>
        <label><input type="radio" required="true" name="q50" value="7"/>7) Затрудняюсь ответить</label><br>
        <br><br>

        <label>51. Какую заработную плату Вы рассчитываете получать сразу после окончания ВУЗа/техникума?<input class="input_text_field" type="number" name="q51" value="" required="true"> рублей</label>
        <br><br>

        <h1>МИГРАЦИОННЫЕ НАМЕРЕНИЯ</h1>
        <label>52. Вы когда-нибудь задумывались о смене места жительства?</label>
        <br><br>
        <label><input type="radio" required="true" name="q52" value="1"/>1) Да, уже это сделал</label><br>
        <label><input type="radio" required="true" name="q52" value="2"/>2) Да, постоянно и в будущем обязательно осуществлю эту мечту</label><br>
        <label><input type="radio" required="true" name="q52" value="3"/>3) Да, но сомневаюсь, что когда-нибудь покину свой родной город / село</label><br>
        <label><input type="radio" required="true" name="q52" value="4"/>4) Нет, меня все устраивает</label><br>
        <label><input type="radio" required="true" name="q52" value="5"/>5) Затрудняюсь ответить</label><br>
        <br><br>

        <label>53. Готовы ли Вы в будущем переехать куда-либо ради более интересной или выгодной работы, ради успеха в карьере или в иной сфере жизни? Если да, то куда Вы скорее переедете? Отметьте один, наиболее вероятный вариант.</label>
        <br><br>
        <label><input type="radio" required="true" name="q53" value="1"/>1) В другой населённый пункт внутри региона</label><br>
        <label><input type="radio" required="true" name="q53" value="2"/>2) В другой регион</label><br>
        <label><input type="radio" required="true" name="q53" value="3"/>3) В другую страну</label><br>
        <label><input type="radio" required="true" name="q53" value="4"/>4) Не готов(-а) никуда переезжать</label><br>
        <label><input type="radio" required="true" name="q53" value="5"/>5) Затрудняюсь ответить</label><br>
        <br><br>

        <label>54. Если Вы собираетесь переехать в другой город, село, страну, с чем это связано в первую очередь?</label>
        <br><br>
        <label><input type="radio" required="true" name="q54" value="1"/>1) Получить образование</label><br>
        <label><input type="radio" required="true" name="q54" value="2"/>2) Устроиться на работу</label><br>
        <label><input type="radio" required="true" name="q54" value="3"/>3) Найти вторую половинку и построить семью</label><br>
        <label><input type="radio" required="true" name="q54" value="4"/>4) Завести новые знакомства</label><br>
        <label><input type="radio" required="true" name="q54" value="5"/>5) Стать знаменитым</label><br>
        <label><input type="radio" required="true" name="q54" value="6"/>6) Затрудняюсь ответить</label><br>
        <label><input type="radio" required="true" name="q54" value="7"/>7) Никуда не хочу переезжать, меня все утраивает на своем месте жительства</label><br>
        <label><input type="radio" required="true" name="q54" value="8"/>8) Другое</label><br>
        <br><br>

        <label>55. Каковы, по Вашему мнению, основные причины «утечки молодых мозгов»?</label>
        <br><br>
        <label><input type="checkbox" required name="q55" value="1"/>1) Плохие условия труда</label><br>
        <label><input type="checkbox" required name="q55" value="2"/>2) Низкий уровень заработной платы</label><br>
        <label><input type="checkbox" required name="q55" value="3"/>3) Отсутствие возможности реализовать свои идеи</label><br>
        <label><input type="checkbox" required name="q55" value="4"/>4) Невостребованность специалистов</label><br>
        <label><input type="checkbox" required name="q55" value="5"/>5) Неправильная государственная политика</label><br>
        <label><input type="checkbox" required name="q55" value="6"/>6) Затрудняюсь ответить</label><br>
        <label><input type="checkbox" required name="q55" value="7"/>7) Другое</label><br>
        <br><br>

        <label>56. Какие необходимы мероприятия, чтобы молодежь осталась в своем регионе/населенном пункте: <textarea class="input_text_field" name="q56" required="true"></textarea></label>
        <br><br>

        <h1>СОЦИАЛЬНО-ДЕМОГРАФИЧЕСКИЙ БЛОК</h1>
        <label>57. Ваш пол:</label>
        <br><br>
        <label><input type="radio" required="true" name="q57" value="1"/>1) Мужской</label><br>
        <label><input type="radio" required="true" name="q57" value="2"/>2) Женский</label><br>
        <br><br>

        <label>58. Ваш возраст: <input class="input_text_field" type="number" name="q58" value="" required="true"> лет</label>
        <br><br>

        <label>59. Где Вы проживаете на данный момент?</label>
        <br><br>
        <label><input type="radio" required="true" name="q59" value="1"/>1) В общежитии</label><br>
        <label><input type="radio" required="true" name="q59" value="2"/>2) В квартире друзей/знакомых</label><br>
        <label><input type="radio" required="true" name="q59" value="3"/>3) В собственной квартире/в квартире родителей</label><br>
        <label><input type="radio" required="true" name="q59" value="4"/>4) В арендованной квартире</label><br>
        <br><br>

        <label>60. Укажите тип населенного пункта, в котором живете по прописке.</label>
        <br><br>
        <label><input type="radio" required="true" name="q60" value="1"/>1) Уфа</label><br>
        <label><input type="radio" required="true" name="q60" value="2"/>2) Другой город РБ</label><br>
        <label><input type="radio" required="true" name="q60" value="3"/>3) Село, деревня</label><br>
        <label><input type="radio" required="true" name="q60" value="4"/>4) Другое</label><br>
        <br><br>
        <button id="save-case">Сохранить</button>
    </form>
</div>
</body>
</html>
